@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";

@import "../sass/base";

.dev-site-notice {
  font-size: 1.5em;
  color: #fff;
  background-color: #f00;
  position: absolute;
  padding: 0.1em 3em;
  top: 1.5em;
  left: -3em;
  transform: rotate(-45deg);
  z-index: 2;
  pointer-events: auto;
  border: 2px solid #fff;
}

.dev-site-notice {
  opacity: 1; // Default opacity when not hovered
  animation: fadeOutNotice 3.5s ease 1s forwards; // Animation starts 1 second after the element loads

  @keyframes fadeOutNotice {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.2; // Gradually fade to this opacity
    }
  }
}