@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";

@import "../sass/base";

.dev-site-notice {
  font-size: 1.5em;
  color: #fff;
  background-color: #f00;
  position: absolute;
  padding: 0.1em 3em;
  top: 1.5em;
  left: -3em;
  transform: rotate(-45deg);
  z-index: 2;
  pointer-events: auto;
  border: 2px solid #fff;
}
.dev-site-notice:hover {
  opacity: 0.2; // immediatly lower opactity when mousing over

  .dev-site-notice { //Fade to low opacity over 3.5s
      opacity: 0.8;
      animation: fadeOutNotice 3.5s ease 1s 1 forwards;
  }

  @keyframes fadeOutNotice {
      from {
          opacity: 0.8; // starting opactity
      }
      to {
          opacity: 0.2; // final opactity
      }
  }
}