@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";

@import "../sass/base";

.dev-site-notice {
    font-size: 1.5em;
    color: #fff;
    background-color: #f00;
    position: absolute;
    padding: 0.1em 3em;
    top: 1.5em;
    left: -3em;
    transform: rotate(-45deg);
    z-index: 2;
    pointer-events: auto;
    border: 2px solid #fff;
}
.dev-site-notice:hover {
    opacity: 0.3; /* Mostly transparent when moused over */
}
@media (max-width: 768px) {
    .dev-site-notice {
            opacity: 0.8; /* Starting opacity on mobile */
        animation: fadeOutNotice 3.5s ease 1s 1 forwards;
    }

    .dev-site-notice:hover {
            opacity: 0.2; /* Mostly transparent when moused over */
    }

    @keyframes fadeOutNotice {
            from {
                opacity: 0.8; /* Match the starting opacity on mobile */
            }
            to {
                opacity: 0.2; /* Desired final opacity */
            }
    }
}